body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Background {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('../images/GameBackground.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.Background::after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    pointer-events: none;
}

.Background > * {
    position: relative;
    z-index: 2;
}

.Container {
    margin: 10px auto;
    width: 80%;
    height: 95vh;
    background-image: url(../images/GalleryContainer.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    padding: 50px 100px;
    box-sizing: border-box;

    position: absolute;
    left: 10%;
    z-index: 2;
}

.Container h1 {
    text-align: center;
    font-size: 50px;
    font-family: cursive, Arial, Helvetica, sans-serif, serif;
    margin: -20px 0 -15px 0;

    position: relative;
    top: 2%;
    z-index: 2;
}

.Container hr {
    margin: 20px auto;
    width: 85%;
    border: 2px solid black;
    border-radius: 10px;

    position: relative;
    top: 2%;
    z-index: 2;
}

.Container p {
    display: inline-block;

    text-align: center;
    font-size: 24px;
    font-family: cursive, Arial, Helvetica, sans-serif, serif;
    background-color: rgba(232, 167, 46, 0.8);
    color: white;
    border: 2px solid white;

    position: absolute;
    top: 27.7%;
    left: 40%;
    z-index: 3;
}

.Container .GameOverImage {
    width: 60%;
    height: auto;

    position: relative;
    top: 1%;
    left: 20%;
    z-index: 2;
}

.MainMenuButton {
    width: 190px;
    height: 50px;

    position: absolute;
    left: 50%;
    bottom: 8%;

    transform: translateX(-50%);

    background: #ee6bb3;
    border: 4px solid #2b1d1d;
    border-radius: 10px;

    color: #111;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive, Arial, sans-serif;

    cursor: pointer;
    z-index: 3;
}